@page
@model GimnasioFacil.App.Presentacion.tablaClientesModel
@{
    ViewData["title"]="Clientes";
}
 <br>
<div class="col-sm-2">
<a asp-page="/ListaClientes/FormularioCliente" style="width:200px;height:40px" class="btn btn-success form-control">Crear Cliente</a>
 </div>           

 <h2 class="text-info" style="text-align:center;">Lista clientes</h2>

<div class="border">
    <table class="table">
        <tr>
            <td>NOMBRES </td>
            <td>APELLIDOS</td>
            <td>EMAIL </td>
            <td>TELEFONO </td>
            <td>DIRECCION</td>
            <td>CONTRASEÑA</td>
            <td>EDAD</td>
            <td>PESO </td>
            <td>ALTURA</td>
        </tr>
        <TR><td></td></TR>
        @foreach(var n in Model.listaCliente)
        {
            <tr>
          
            <td>@n.Nombres </td>
            <td>@n.Apellidos</td>
            <td>@n.Email </td>
            
            <td>@n.Telefono </td>
            <td>@n.Direccion</td>
            <td>@n.Contrasena </td>
            <td>@n.Edad</td>
            <td>@n.Peso </td>
            <td>@n.Altura</td>
            <td>
            <a type="button" asp-page="/ListaClientes/EditarC" class="btn btn-secondary" asp-route-clienteId=@n.Id>Editar</a>
            </td>
            </tr>
        }

    </table>

</div>
