@page
@model GimnasioFacil.App.Presentacion.tablaClientesModel
@{
    ViewData["title"]="Clientes";
}

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">SALIR</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/ListaClientes/tablaClientes">CLIENTES</a>
                        </li>
                          <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/ListaRutina/Listas">RUTINA</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/ListaNutricion/Listas">NUTRICION</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>



 <br>
<div class="col-sm-2">
<a asp-page="/ListaClientes/FormularioCliente" style="width:200px;height:40px" class="btn btn-success form-control">Crear Cliente</a>
</div> 
 <br>
<div class="col-sm-2">
<a asp-page="/ListaClientes/BuscarCli" style="width:200px;height:40px" class="btn btn-success form-control">Buscar Cliente</a>
</div>         

 <h2 class="text-info" style="text-align:center;">Lista clientes</h2>

<div class="border">
    <table class="table">
        <tr>
            <td>NOMBRES </td>
            <td>APELLIDOS</td>
            <td>EMAIL </td>
            <td>TELEFONO </td>
            <td>DIRECCION</td>
            <td>CONTRASEÑA</td>
            <td>EDAD</td>
            <td>PESO </td>
            <td>ALTURA</td>
        </tr>
        <TR><td></td></TR>
        @foreach(var n in Model.listaCliente)
        {
            <tr>
          
            <td>@n.Nombres </td>
            <td>@n.Apellidos</td>
            <td>@n.Email </td>
            
            <td>@n.Telefono </td>
            <td>@n.Direccion</td>
            <td>@n.Contrasena </td>
            <td>@n.Edad</td>
            <td>@n.Peso </td>
            <td>@n.Altura</td>
            <td>
            <a type="button" asp-page="/ListaClientes/EditarC" class="btn btn-secondary" asp-route-clienteId=@n.Id>Editar</a>
            </td>
            <td>
                   <a type="button"  class="btn btn-danger" asp-route-clienteId=@n.Id >Eliminar</a>
                </td>
            </tr>
        }

    </table>

</div>
